/*reset font body*/
body,
.zone>header .zone-title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.zone>header .zone-title {
    font-weight: bold;
    font-size: 14px;
}

.highlight-zone .story.story-cover .title {
    font-size: 22px;
    line-height: 26px;
}

.zone>header .zone-title a {
    padding-top: 5px;
}

@media screen and (min-width: 768px) {
    .story .title {
        font-size: 14px;
        line-height: 19px;
    }
}

/*header*/
.navigation>ul>li>a {
    padding: 0 9px;
}

/*main article related*/

.main-article .relate-article {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.main-article .relate-article li::before {
    content: "•";
    display: inline;
    margin-right: 5px;
}

.main-article .relate-article li+li {
    margin-top: 10px;
}

.main-article .article-hdr .summary {
    font-weight: bold;
    color: #555;
}

.main-article .article-hdr .summary,
.main-article .article-content .content {
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}

.main-article .article-content h1,
.main-article .article-content h2,
.main-article .article-content h3,
.main-article .article-content h4,
.main-article .article-content h5 {
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
}

/*breadcrumb style*/
.breadcrumb h1 {
    font-size: 16px;
    display: inline;
}

.middle-zone .zone:nth-child(2n+1) {
    clear: both;
}

.related-box .story:nth-child(4n+1) {
    clear: both;
}

.story .thumb a {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden
}

.story .thumb a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto
}

/*topic style*/
.topic-wrap {
    margin-bottom: 15px;
    background-color: #f0f0f0;
    position: relative;
    padding: 3px 0;

}

.topic-label::before {
    content: '';
    display: block;
    width: 30%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #c7252b;
    position: absolute;
    z-index: 1;
}

.topic-label {
    width: 30%;
    float: left;
}

.topic-label span {
    font-weight: bold;
    color: white;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.topic-listing {
    float: left;
    width: 70%;
    margin-left: 30%;
    margin-top: 2px;
    padding-left: 10px;
    font-size: 13px;
}

.topic-listing a {
    margin-bottom: 2px;
    display: inline-block;
}

.topic-listing a::before {
    content: '•';
    display: inline-block;
    margin-right: 4px;
}

.topic-listing a+a {
    margin-left: 15px;
}

@media screen and (min-width: 768px) {
    .topic-label {
        width: 20%;
    }

    .topic-label::before {
        width: 20%;
    }

    .topic-label span {
        left: 10%;
    }

    .topic-listing {
        width: 80%;
        margin-left: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .topic-label {
        width: 10%;
    }

    .topic-label::before {
        width: 10%;
    }

    .topic-label span {
        left: 5%;
    }

    .topic-listing {
        width: 90%;
        margin-left: 10%;
    }
}

/*detail style*/
.main-article .article-hdr .meta .meta-share>* {
    font-size: 24px;
}

.main-article .article-hdr .meta .meta-share .fa-facebook-square {
    color: #3b5998;
}

.main-article .article-hdr .meta .meta-share .fa-envelope-square {
    color: #ffa700;
}

.main-article .article-hdr .meta .meta-share .fa-google-plus-square {
    color: #d62d20;
}

.main-article .article-hdr .meta .meta-share .fa-facebook-square:hover {
    color: #2d4371;
}

.main-article .article-hdr .meta .meta-share .fa-envelope-square:hover {
    color: #e49601;
}

.main-article .article-hdr .meta .meta-share .fa-google-plus-square:hover {
    color: #bb271c;
}

.main-article .article__viewmore {
    position: relative;
}

.main-article .article__viewmore::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
}

.main-article .article__viewmore {
    text-align: center;
}

.main-article .article__viewmore .btn {
    position: relative;
    font-weight: normal !important;
    color: #fff !important;
}

.article-photo.main-article .article-content .content img {
    margin-bottom: 0;
}

.article-photo .slider-caption li .caption span {
    color: #fff !important;
}

.article-wrap {
    padding-bottom: 20px;
    margin-bottom: 10px;
}

/*footer style*/
#site-footer .container {
    font-size: 12px;
    line-height: 1.4;
}